[submodule "gh-pages-depl"]
	path = gh-pages-depl
	url = https://github.com/rojasleon/gh-pages-depl
[submodule "netlify-depl"]
	path = netlify-depl
	url = https://github.com/rojasleon/netlify-depl.git
[submodule "vercel-depl"]
	path = vercel-depl
	url = https://github.com/rojasleon/vercel-depl.git
[submodule "depl-s3"]
	path = depl-s3
	url = https://github.com/rojasleon/depl-s3
[submodule "depl-digital-ocean"]
	path = depl-digital-ocean
	url = https://github.com/rojasleon/depl-digital-ocean
